* :focus {
  outline: none;
}
body {
	font-family: helvetica;
	color: #555;
}
h1 {
  padding-top: 50px;
  text-align: center;
}
.center {
  text-align: center;
}
button {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #eee;
}
button:hover {
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1))
}
button:active {
  border: 1px solid #777;
}
.margins {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}
#buttons {
  margin-top: 25px;
}
form {
  margin-top: 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
form ul {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  list-style: none;
}
form ul li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
}
form label {
  width: 130px;
  display: inline-block;
  margin-top: 3px;
  padding: 3px;
}
.input {
  height: 30px;
  width: 220px;
  padding: 5px 8px;
}
#add-submit {
  margin-left: 60px;
}
img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 10px;
}