* :focus {
  outline: none;
}
body {
	font-family: helvetica;
	color: #555;
}
h1 {
  padding-top: 50px;
  text-align: center;
}
.center {
  text-align: center;
}
button {
  padding: 5px;
}
.margins {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}
td {
  padding-left: 10px;
  padding-right: 10px;
}
#buttons {
  margin-top: 25px;
}
form {
  margin-top: 30px;
  border: 1px solid #eee;
  border-radius: 5px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
}
form ul {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  list-style: none;
}
form ul li {
  padding: 12px;
  border-bottom: 1px solid #eee;
  position: relative;
}
form label {
  width: 250px;
  margin-top: 3px;
  padding: 3px;
}
.input {
  height: 20px;
  width: 220px;
  padding: 5px 8px;
}